<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %} Welcome Bsharing {% endblock %} </title>

    {% load staticfiles %} <!-- loads the path to static files -->
    <link href={% static 'community/style.css' %} rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href={% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href={% static "MDB/css/bootstrap.min.css"%} rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href={% static "MDB/css/mdb.min.css"%} rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href={% static "MDB/css/style.css"%} rel="stylesheet">

     <!-- Custom styles for this template -->
     {% comment %} <link href="css/blog-home.css" rel="stylesheet"> {% endcomment %}
    {% comment %} <script src={% static 'bootstrap/vendor/jquery/jquery.min.js' %}></script>
    <script src= {% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script> {% endcomment %}

</head>
<body>
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
        <a class="navbar-brand" href={% url 'community:index' %}>Bsharing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form class = "form-inline col align-self-center lg" role = "search" method= "get" action = "#">
                <div class = "form-group">
                    <input type="text" class = "form-control" name = "q" value = "">
                    <button type = "submit" class = "btn btn-dark">Search</button>
                </div>
            
            </form>
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active"> 
                {% block a %}  <a class="nav-link" href=" #  "> {% endblock %}
                {% block navname %}<span class="glyphicon glyphicon-plus" aria-hidden = "true"></span>&nbsp; Add Community {% endblock %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            </ul>

        </div>
        </div>
    </nav>
    {% block body %}

    {% endblock %}
    
    {% comment %} <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"> </p>
    </div>
    <!-- /.container -->
    </footer> {% endcomment %}

    <!-- Bootstrap core JavaScript -->

    <script type="text/javascript" src={% static "MDB/js/jquery.min.js"%}></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src={% static "MDB/js/popper.min.js"%}></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src={% static "MDB/js/bootstrap.min.js"%}></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src={% static "MDB/js/mdb.min.js"%}></script>


{% comment %} <script>

const tableID = $('table');
const BTN = $('export-btn');
const EXPORT = $('export'); {% endcomment %}

{% comment %} const newTr = `
<tr class="hide">
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td>
    <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">Remove</button></span>
  </td>
</tr>`; {% endcomment %}

 {% comment %} $('table-add').on('click', 'i', () => {
    
    const $clone = tableID.find('tbody tr').last().clone().removeClass('hide');
    console.log($clone);
   //const $clone = document.getElementById("newrow").style;
   //$clone.display = 'table-row';
   //a = document.getElementById('newrow')
   //console.log(a)
   // tableID.find('tbody tr').last().clone(true).style.display =

   //if (tableID.find('tbody tr').length === 0) {

   //  $('tbody').append(newTr);
   //}

   tableID.append($clone);
 });

 tableID.on('click', '.table-remove', function () {

   $(this).parents('tr').detach();
 });

 // A few jQuery helpers for exporting only
 jQuery.fn.pop = [].pop;
 jQuery.fn.shift = [].shift;

 BTN.on('click', () => {

   const $rows = tableID.find('tr:not(:hidden)');
   const headers = [];
   const data = [];

   // Get the headers (add special header logic here)
   $($rows.shift()).find('th:not(:empty)').each(function () {

     headers.push($(this).text().toLowerCase());
   });

   // Turn all existing rows into a loopable array
   $rows.each(function () {
     const $td = $(this).find('td');
     const h = {};

     // Use the headers from earlier to name our hash keys
     headers.forEach((header, i) => {

       h[header] = $td.eq(i).text();
     });

     data.push(h);
   });

   // Output the result
   EXPORT.text(JSON.stringify(data));
   fieldJson = JSON.stringify(data);
   console.log(fieldJson);
 });
</script> {% endcomment %}

<script>
const $tableID = $('#table');
 const $BTN = $('#btn');
 const $EXPORT = $('#export');

 const newTr = `
<tr class="hide">
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>

  <td>
    <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">Remove</button></span>
  </td>
</tr>`;

 $('.table-add').on('click', 'i', () => {

   const $clone = $tableID.find('tbody tr').last().clone(true).removeClass('hide table-line');

   if ($tableID.find('tbody tr').length === 0) {

     $('tbody').append(newTr);
   }

   $tableID.find('table').append($clone);
 });

 $tableID.on('click', '.table-remove', function () {

   $(this).parents('tr').detach();
 });

 $tableID.on('click', '.table-up', function () {

   const $row = $(this).parents('tr');

   if ($row.index() === 1) {
     return;
   }

   $row.prev().before($row.get(0));
 });

 $tableID.on('click', '.table-down', function () {

   const $row = $(this).parents('tr');
   $row.next().after($row.get(0));
 });

 // A few jQuery helpers for exporting only
 jQuery.fn.pop = [].pop;
 jQuery.fn.shift = [].shift;

 $BTN.on('click', () => {

   const $rows = $tableID.find('tr:not(:hidden)');
   const headers = [];
   const data = [];

   // Get the headers (add special header logic here)
   $($rows.shift()).find('th:not(:empty)').each(function () {

     headers.push($(this).text().toLowerCase());
   });

   // Turn all existing rows into a loopable array
   $rows.each(function () {
     const $td = $(this).find('td');
     const h = {};

     // Use the headers from earlier to name our hash keys
     headers.forEach((header, i) => {

       h[header] = $td.eq(i).text();
     });

     data.push(h);
   });

   // Output the result
   $EXPORT.text(JSON.stringify(data));
    fieldJson = JSON.stringify(data);
    $("#send").val(fieldJson);
   console.log(fieldJson);
 });



</script>

</body>


</html>