<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %} Welcome Bsharing {% endblock %} </title>

    {% load staticfiles %} <!-- loads the path to static files -->
    <!-- Bootstrap core CSS -->
    <link href={% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">

     <!-- Custom styles for this template -->
     {% comment %} <link href="css/blog-home.css" rel="stylesheet"> {% endcomment %}
    <link href={% static 'community/style.css' %} rel="stylesheet">
        <!-- Bootstrap core JavaScript -->
    <script src={% static 'bootstrap/vendor/jquery/jquery.min.js' %}></script>
    <script src= {% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>
</head>
<body>
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
        <a class="navbar-brand" href={% url 'community:index' %}>Bsharing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form class = "form-inline col align-self-center lg" role = "search" method= "get" action = "#">
                <div class = "form-group">
                    <input type="text" class = "form-control" name = "q" value = "">
                    <button type = "submit" class = "btn btn-dark">Search</button>
                </div>
            
            </form>
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href=" {% url 'community:community_create' %} ">
                <span class="glyphicon glyphicon-plus" aria-hidden = "true"></span>&nbsp; Add Community
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            </ul>

        </div>
        </div>
    </nav>
    {% block body %}

    {% endblock %}
    
    <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"> </p>
    </div>
    <!-- /.container -->
    </footer>
 
</body>
</html>