<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    {% load staticfiles %} <!-- loads the path to static files -->
    <link href={% static 'community/style.css' %} rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href={% static "MDB/css/bootstrap.min.css"%} rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href={% static "MDB/css/mdb.min.css"%} rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href={% static "MDB/css/style.css"%} rel="stylesheet">

     <!-- Custom styles for this template -->
     {% comment %} <link href="css/blog-home.css" rel="stylesheet"> {% endcomment %}
    {% comment %} <script src={% static 'bootstrap/vendor/jquery/jquery.min.js' %}></script>
    <script src= {% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script> {% endcomment %}
    <title> {% block title %} Welcome Bsharing {% endblock %} </title>
</head>
<body>
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
        <div class="container">
            <a class="navbar-brand" href={% url 'community:index' %}>Bsharing</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
             {% block form %} <form class = "form-inline col align-self-center lg" role = "search" method= "get"action = " {% url 'community:search' %} "> {% endblock %}
                <div class = "form-group">
                    <input type="text" class = "form-control" name = "q" value = ""  placeholder="Search in Bsharing" >
                    <button type = "submit" class = "btn btn-sm btn-primary">Search</button>
                </div>
            
              </form>
              
            <ul class="navbar-nav ml-auto">
            <li class="nav-item"> 
                <a class="nav-link" href={% url 'community:advanced_search' %}>
                <span class="glyphicon glyphicon-plus" aria-hidden = "true"></span>&nbsp; Advanced Search
                </a>
            </li>
            <li class="nav-item"> 
                {% block a %}  <a class="nav-link" href=" #  "> {% endblock %}
                {% block navname %}<span class="glyphicon glyphicon-plus" aria-hidden = "true"></span>&nbsp; Add Community {% endblock %}
                </a>
            </li>
            {% block li %}

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  
                  <a class="dropdown-item" href="">Profile</a>                 
                  <a class="dropdown-item" href={% url 'community:login' %}>Login</a>
                  <a class="dropdown-item"  href={% url 'community:logout' %}>Logout</a>
                </div>
            </li>
            {% comment %} <li class="nav-item">

            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li> {% endcomment %}
            {% endblock %}
            </ul>

          </div>
        </div>
    </nav>
    {% block body %}

    {% endblock %}
    
    {% comment %} <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"> </p>
    </div>
    <!-- /.container -->
    </footer> {% endcomment %}

    <!-- Bootstrap core JavaScript -->

    <script type="text/javascript" src={% static "MDB/js/jquery.min.js"%}></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src={% static "MDB/js/popper.min.js"%}></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src={% static "MDB/js/bootstrap.min.js"%}></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src={% static "MDB/js/mdb.min.js"%}></script>

{% block script %}
<script>
const $tableID = $('#table');
 const $BTN = $('#btn');
 const $EXPORT = $('#export');

 const newTr = `
<tr class="hide">
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>

  <td>
    <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">Remove</button></span>
  </td>
</tr>`;

 $('.table-add').on('click', 'i', () => {

   const $clone = $tableID.find('tbody tr').last().clone(true).removeClass('hide table-line');

   if ($tableID.find('tbody tr').length === 0) {

     $('tbody').append(newTr);
   }

   $tableID.find('table').append($clone);
 });

 $tableID.on('click', '.table-remove', function () {

   $(this).parents('tr').detach();
 });



 // A few jQuery helpers for exporting only
 jQuery.fn.pop = [].pop;
 jQuery.fn.shift = [].shift;

 $BTN.on('click', () => {

   const $rows = $tableID.find('tr:not(:hidden)');
   const headers = [];
   const data = [];

   // Get the headers (add special header logic here)
   $($rows.shift()).find('th:not(:empty)').each(function () {

     headers.push($(this).text().toLowerCase());
     console.log(headers);
   });

   // Turn all existing rows into a loopable array
   $rows.each(function (a) {
     const $td = $(this).find('td');
     const h = {};
     console.log($td)

     // Use the headers from earlier to name our hash keys
     headers.forEach((header, i) => {
       console.log(i);
       if (i === 0){
        //h[header] = $td.eq(i).text();
        h[header] = $rows[a].cells[0].children[0].value;
       }
       else if ( i === 1){
        //const fieldTypes = document.getElementById("optioninfo");
        console.log($rows[a].cells[1])
        h[header] = $rows[a].cells[1].children[0].value;
       }
      else if ( i === 2){
        console.log($rows[a].cells[2].children[0])
         h[header] = $rows[a].cells[2].children[0].value
      }
      else{
        
      }
       
     });

     data.push(h);

   });
    //  const deneme = {

    //title: document.getElementById('dt_fieldrequire').value,
    //options: document.getElementById('denemee').val()
 // }
  //console.log(deneme);
   // Output the result
   //$EXPORT.text(JSON.stringify(data));
    fieldJson = JSON.stringify(data);
    $("#send").val(fieldJson);
   console.log(fieldJson);
 });
function selectedoptions() {
  var x = document.getElementById("optioninfo").value;
  document.getElementById("optioninfo").value = x;
};
function selectcheckbox(val){
  if (val == 'true'){
    document.getElementById("aaa").value = "false"
  }
  else{
    document.getElementById("aaa").value = "true"
  } 
}
var x = {{ data_fields|safe }}
a = JSON.parse(x[0]['fields']['datafields'])
console.log(a);
</script>
{% endblock %}
</body>
</html>