{% extends 'base.html' %}

{% block a %}  <a class="nav-link" href=" {% url 'community:post_type_create' community_header.id %}"> {% endblock %}

{% comment %} {% block href %} {% url 'community:post_type_create' %} {% endblock %} {% endcomment %}

{% block navname %} <span class="glyphicon glyphicon-plus" aria-hidden = "true"></span>&nbsp; Add Post_Type {% endblock %}


{% block body %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4"> Post Types about this community; 
          
        </h1>

        <!-- object is community_header model. community_header is foreign key for post_type_header. So _set.all method retrieves post_types which is belong to spesific community_header.-->
        {% comment %} {% for post_type in object.post_type_header_set.all %}  {% endcomment %}
        {% for post_type in post_type_list %} 
          <div class="card mb-4">         
            {% comment %} <img class="card-img-top" src="#" alt="Card image cap"> {% endcomment %}
            <div class="card-body">
              <h2 class="card-title"> {{ post_type.name }} </h2>
              <p class="card-text">{{ post_type.desc }} </p>
              <a href=" {% url 'community:post_type_detail' post_type.id %} " class="btn btn-primary">Go! &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Created by <strong> {{post_type.post_type_user}} </strong>  &nbsp;&nbsp;&nbsp;&nbsp; {{post_type.published_date}} 
              <a href="#"></a>
            </div>
          
          </div>
          {% endfor %}
          
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Side Widget -->
        <div class="card my-4" style = "top:70px">
          <h5 class="card-header">Community Information</h5>
          <div class="card-body">
          <p class="my-4"> <span style = "font-style:italic; color:red"> Name:</span> <br> {{ community_header.name }} </p>
          <p class="my-4"><span style = "font-style:italic; color:red">  Description:</span> <br> {{ community_header.desc }}</p>
          <p class="my-4"><span style = "font-style:italic; color:red">  Created by:</span> <br> {{ community_header.user }}</p>
          <p class="my-4"><span style = "font-style:italic; color:red">  Published date:</span> <br> {{ community_header.published_date }}</p>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}