{% extends 'base.html' %}
{% block a %}  <a class="nav-link" href=" {% url 'community:community_create' %}  "> {% endblock %}
{% block form %} <form class = "form-inline col align-self-center lg" role = "search" method= "get" action = " {% url 'community:search' %} "> {% endblock %}


{% block body %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Bsharing
          <small>Community Share Platform</small>
        </h1>
        <h2 class="my-4"> Welcome {{ user.username }}  </h2>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        
          {% for community in all_communities %}
          <div class="card mb-4">         
            {% comment %} <img class="card-img-top" src="#" alt="Card image cap"> {% endcomment %}
            <div class="card-body">
              <h2 class="card-title"> {{ community.name }} </h2> <br>
              <h5 class="card-subtitle">{{ community.desc }} </h5><br>
              <p class "card-text"> tags: #{{ community.semantic_tag }} </p>
              <a href=" {% url 'community:join' community.id %} " class=" btn btn-sm btn-primary">Join! &rarr;</a>
              <a href=" {% url 'community:community_detail' community.id %} " class=" btn btn-sm btn-primary">Go! &rarr;</a>
              <a href=" {% url 'community:community_update' community.id %} " class=" btn btn-sm btn-primary">Update! &rarr;</a>
              
              
            </div>
            <div class="card-footer text-muted">
              Created by <strong> {{ community.user }} </strong>  &nbsp;&nbsp;&nbsp;&nbsp; {{community.published_date}} 
              <a href="#"></a>
            </div>
          
          </div>
          {% endfor %}


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        {% comment %} <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div> {% endcomment %}


        <!-- Side Widget -->
        <div class="card my-4" style = "top:100px">
          <h5 class="card-header">ABOUT BSHARING</h5>
          <div class="card-body">
          Welcome our sharing platform. <br> This platform provides communication, network and knowledge. You can join communities and post under subcommunities or you can create communities and specify post types if there is no commmunity matching your interestings.
          <br> <br> We appreciate to see you in here. <br> Keep Enjoy ! 
          </div>
        </div> 

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->

{% endblock %}