{% extends 'base.html' %}
{% block body %}

<div class = "container-fluid">

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="my-4"> Define Post Type</h3>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" method="post"  role="form" >
                            {% csrf_token %}
                            <input type="hidden" name="community" value="{{ community }}">
                            <input hidden value ="" type="hidden" name="fieldJson" id = "send">
                            {% include 'form_template.html' %}

                            <div class="card">
                              <p class="card-header text-center font-weight-bold text-uppercase py-4">Additional Custom Label</p>
                              <div class="card-body">
                                <div id="table" class="table-editable">
                                  <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success">
                                  <i class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                                  <table id="table" name ="table" class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                      <tr>
                                        <th class="text-center">FieldLabel</th>
                                        <th class="text-center">FieldType</th>
                                        <th class="text-center">IsRequired?</th>
                                        <th class="text-center">Remove</th>
                                      </tr>
                                    </thead>
                                    <tbody>

                                      <tr class="hide" id = "newrow">
                                        {% comment %} <td> <input type="text" id="dt_fieldlabel" class="pt-3-half" name="fieldlabel" contenteditable="true"> </td> {% endcomment %}
                                        <td class="pt-3-half" contenteditable="true" id = "textinfo"> 
                                          <input class="md-form floatLabel_dt" type="text" data-toggle="toggle" data-style="ios"  id="requireinfo" name="fieldrequire">
                                        </td>
                                        <td>
                                            <select class="mdb-select md-form floatLabel_dt" name="fieldtype" id="optioninfo" contenteditable="true">
                                                <option value="" disabled selected>Choose your option</option>
                                                <option value="text">Text field</option>
                                                <option value="email">E-mail</option>
                                                <option value="date">Date</option>
                                                <option value="time">Time</option>
                                                <option value="number">Integer</option>
                                                <option value="image">Image</option>
                                                <option value="url">URI</option>
                                                <option value="LO">Location</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input class="md-form floatLabel_dt" type="checkbox" data-toggle="toggle" data-style="ios"  id="aaa" name="fieldrequire" onchange= "selectcheckbox(this.value)" value = "true" checked>
                                        </td>

                                        <td>
                                          <span class="table-remove"><button type="button"
                                              class="btn btn-danger btn-rounded btn-sm my-3">Remove</button></span>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
<!-- Editable table -->                  <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-2">
                                            <button id="btn" type="submit" class="btn btn-success">   Submit  </button>
                                        </div>
                                        </div>
                                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
</div>




{% endblock %}



