{% extends 'base.html' %}

 {% block a %}  <a class="nav-link" href=" {% url 'community:post_create' post_type.id %}"> {% endblock %} 

{% comment %} {% block href %} {% url 'community:post_type_create' %} {% endblock %} {% endcomment %}

{% block navname %} <span class="glyphicon glyphicon-plus" aria-hidden = "true"></span>&nbsp; Add Post_Type {% endblock %}


{% block body %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4"> {{ post_type.name }}
          
        </h1>
        <h3>{{ post_type.desc }}</h3>
        
         <!-- object is community_header model. community_header is foreign key for post_type_header. So _set.all method retrieves post_types which is belong to spesific community_header.-->
        {% for post in object.post_type_header_set.all %} 
          <div class="card mb-4">         
            {% comment %} <img class="card-img-top" src="#" alt="Card image cap"> {% endcomment %}
            <div class="card-body">
              <h2 class="card-title"> {{ post.name }} </h2>
              <p class="card-text">{{ post.desc }} </p>
              <a href=" {% url 'community:post_type_detail' post_type.id %} " class="btn btn-primary">Go! &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Created by 
              <a href="#"></a>
            </div>
          
          </div>
          {% endfor %}


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">


        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}