{% extends 'base.html' %}
{% block body %}

<div class = "container-fluid">

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="my-4"> Post</h3>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" method="post"  role="form" >
                            {% csrf_token %}
                            <input type="hidden" name="post_type" value="{{ post_type }}">
                            <input hidden value ="" type="hidden" name="fieldJson" id = "send">
                            {% include 'form_template.html' %}

                            <!-- Editable table -->
                            <div class="card">
                              <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
                              <div class="card-body">
                                <div id="table" class="table-editable">
                                  <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success">
                                  <i class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                                  <table id="table" name ="table" class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                      <tr>
                                        <th class="text-center">Field Label</th>
                                        <th class="text-center">Field Type</th>
                                        <th class="text-center">Is Required?</th>
                                        <th class="text-center">Remove</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in data_fields %}
                                        <tr>
                                        {% comment %} <td> <input type="text" id="dt_fieldlabel" class="pt-3-half" name="fieldlabel" contenteditable="true"> </td> {% endcomment %}
                                        <td class="pt-3-half" contenteditable="true" id = "textinfo24" value ={{ data_fields }}> {{ data.fieldlabel }} </td>
                                        <td>
                                           <input type= {{ data.fieldtype }} name="firstname">
                                        </td>
                                        <td>
                                            <input type="checkbox" data-toggle="toggle" data-style="ios" id="requireinfo" name="fieldrequire" checked  >
                                        </td>
                                        
                                        {% comment %} <td class="pt-3-half" contenteditable="true">Deepends</td>  {% endcomment %}
                                        <td>
                                          <span class="table-remove"><button type="button"
                                              class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
<!-- Editable table -->                  <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-2">
                                            <button id="btn" type="submit" class="btn btn-success">   Submit  </button>
                                        </div>
                                        </div>
                                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
</div>




{% endblock %}



