{% extends 'base.html' %}
{% block form %} <form class = "form-inline col align-self-center lg" role = "search" method= "get" action = " {% url 'community:search' %} "> {% endblock %}



{% block body %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4"> Results for Communities </h1>


        <!-- Todo. eğer arama sonucu yoksa uyarı mesajı yazmalı. -->
        {% if communities %}
        {% for comm in communities %} 
          <div class="card mb-4">         
            {% comment %} <img class="card-img-top" src="#" alt="Card image cap"> {% endcomment %}
            <div class="card-body">
              <h2 class="card-title"> {{ comm.name }} </h2>
              <p class="card-text">{{ comm.desc }} </p>
              <a href=" {% url 'community:join' comm.id %} " class=" btn btn-sm btn-primary">Join! &rarr;</a>
              <a href=" {% url 'community:community_detail' comm.id %} " class=" btn btn-sm btn-primary">Go! &rarr;</a>
              <a href=" {% url 'community:community_update' comm.id %} " class=" btn btn-sm btn-primary">Update! &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Created by {{ comm.user }} // {{comm.published_date}}
            </div>
          
          </div>
          {% endfor %}

        {% else %}
        <h3 class="my-4"> There is no community related to your search </h3>
        {% endif %}

        <h1 class="my-4"> Results for Post-Types </h1>

        {% if post_types %}
        {% for pt in post_types %} 
          <div class="card mb-4">         
            {% comment %} <img class="card-img-top" src="#" alt="Card image cap"> {% endcomment %}
            <div class="card-body">
              <h2 class="card-title"> {{ pt.name }} </h2>
              <p class="card-text">{{ pt.desc }} </p>
              <a href=" {% url 'community:post_type_detail' pt.id %} " class="btn btn-primary">Go! &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Created by 
              <a href="#"></a>
            </div>
          
          </div>
        {% endfor %}
        {% else %}
        <h3 class="my-4"> There is no post-types related to your search </h3>
        {% endif %}


        <h1 class="my-4"> Results for Posts </h1>
        {% if post_types %}
        {% for post in posts %} 
          <div class="card mb-4">         
            {% comment %} <img class="card-img-top" src="#" alt="Card image cap"> {% endcomment %}
            <div class="card-body">
              <h2 class="card-title"> {{ post.name }} </h2>
              <p class="card-text">{{ post.desc }} </p>
              {% comment %} <a href=" {% url 'community:post_type_detail' pt.id %} " class="btn btn-primary">Go! &rarr;</a> {% endcomment %}
            </div>
            <div class="card-footer text-muted">
              Created by 
              <a href="#"></a>
            </div>
          
          </div>
        {% endfor %}
        {% else %}
        <h3 class="my-4"> There is no posts related to your search </h3>
        {% endif %}

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">


        <!-- Side Widget -->
                <!-- Side Widget -->
                <div class="card my-4" style = "top:70px">
                    <h5 class="card-header">ABOUT BSHARING</h5>
                     <div class="card-body">
                            Welcome our sharing platform. <br> This platform provides communication, network and knowledge. You can join communities and post under subcommunities or you can create communities and specify post types if there is no commmunity matching your interestings.
                            <br> <br> We appreciate to see you in here. <br> Keep Enjoy ! 
                    </div>
                </div> 

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}